.page-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  padding-left: 75px;
  padding-right: 75px;
  width: $desktop-width;
  box-sizing: border-box;

  @media (max-width: $tablet-only-width) {
    transform: none;
    left: 0;

    padding-left: 0;
    padding-right: 0;
    width: 100%;

    &--nojs {
      position: relative;
    }
  }
}

.page-header > a:first-of-type {
  position: absolute;
  top: 315px;
  left: 72px;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @media (max-width: $tablet-only-width) {
    top: 21px;
    left: 22px;
  }

  @media (max-width: $mobile-only-width) {
    top: 21px;
    left: 16px;
  }
}

.page-header--nojs > a:first-of-type {
  @media (max-width: $tablet-only-width) {
    top: auto;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
  }
}
