.page-footer {
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 73px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: $desktop-width;
  box-sizing: border-box;

  text-align: center;

  @media (max-width: $tablet-only-width) {
    padding-top: 40px;
    padding-bottom: 28px;
    padding-left: 35px;
    padding-right: 35px;
  }

  @media (max-width: $mobile-only-width) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 50px;
  }
}

.page-footer p:first-of-type {
  @include paragraph-style-reset;

  position: relative;
  right: 7px;

  margin-bottom: 30px;

  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $darkest-text-color;

  @media (max-width: $tablet-only-width) {
    position: static;

    margin-bottom: 20px;

    font-size: 24px;
  }

  @media (max-width: $mobile-only-width) {
    font-size: 18px;
  }
}

.page-footer p:not(:first-of-type) {
  @include paragraph-style-reset;

  position: relative;
  right: 10px;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  max-width: 555px;

  font-size: 17px;
  line-height: 31px;
  color: rgba($basic-text-color, 0.7);

  @media (max-width: $tablet-only-width) {
    position: static;

    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
    max-width: none;
  }

  @media (max-width: $mobile-only-width) {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.page-footer img {
  margin-bottom: 32px;

  object-fit: cover;

  @media (max-width: $tablet-only-width) {
    margin-bottom: 13px;
    width: 698px;
    height: 545px;
  }

  @media (max-width: $mobile-only-width) {
    margin-bottom: 23px;
    width: 100%;
    height: 250px;
  }
}

.page-footer__wrapper {
  padding-left: 195px;
  padding-right: 215px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $tablet-only-width) {
    padding-left: 72px;
    padding-right: 72px;
  }

  @media (max-width: $mobile-only-width) {
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
  }
}

.page-footer a {
  @include link-style-reset;

  margin-bottom: 22px;

  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: rgba($basic-text-color, 0.5);


  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:active {
    color: $basic-text-color;
  }

  @media (max-width: $mobile-only-width) {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.page-footer svg {
  margin-right: 7px;

  vertical-align: middle;
}
