.page-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  margin-left: auto;
  margin-right: auto;
  width: 874px;
  box-sizing: border-box;

  @media (max-width: $tablet-only-width) {
    transform: none;
    left: 0;

    margin-left: 0;
    margin-right: 0;
    width: 100%;

    &--nojs {
      position: relative;
    }
  }
}

.page-header > a:first-of-type {
  position: absolute;
  top: 315px;
  left: -3px;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @media (max-width: $tablet-only-width) {
    top: 21px;
    left: 22px;
  }

  @media (max-width: $mobile-only-width) {
    top: 21px;
    left: 16px;
  }
}

.page-header--nojs > a:first-of-type {
  @media (max-width: $tablet-only-width) {
    top: auto;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
  }
}
