//Color-scheme

$accent-color: #0ad9c6;
$error-color: #ff6666;

$basic-background-color: #ffffff;
$light-background-color: #f6f7f9;
$dark-background-color: #f6f6f6;
$darkest-background-color: #131314;

$light-text-color: #ffffff;
$basic-text-color: #000000;
$dark-text-color: #48494d;
$darkest-text-color: #1f1f1f;

$light-border-color: #ffffff;
$border-color: #c9ccd4;

$placeholder-color: rgba(#1c1c1c, 0.5);

//Breakpoints-widths

$mobile-width: 320px;
$tablet-only-width: 1023px;
$tablet-width: 768px;
$desktop-width: 1024px;
